body img{
  background-image: url("../image/Worlds.jpg");
  background-position: center;
  height: 1200px;
  width: 1400px;
  border: 1px, solid black;

}
.une{
  height: 400px;
  width: 300px;
  position: relative;
  left: 450px;
  top: -800px;
  background-color: transparent;
}

h1{
  text-align: center;

}

td{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.player1{
background-color: black;
}
.player2{
background-color: green;
}
